{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'dashboards/css/jefe_dashboard_styles.css' %}">
{% endblock %}

{% block content %}
  <div class="dashboard-container">
    <h1>Bienvenido al Dashboard del Jefe de Torneos</h1>
    <div class="card-container">
      <div class="card">
        <h2>Crear Torneo</h2>
        <p>Crea un nuevo torneo y asigna jueces a las pruebas.</p>
        <a href="{% url 'crear_torneo' %}">Crear Nuevo Torneo</a>
      </div>
      <div class="card">
        <h2>Buscar Torneos Anteriores</h2>
        <p>Encuentra torneos previos y genera certificados para los participantes.</p>
        {% comment %} <a href="{% url 'buscar_torneos' %}">Buscar Torneos</a> {% endcomment %}
      </div>
    </div>
  </div>
{% endblock %}