{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
  
    <link rel="stylesheet" href="{% static 'accounts/css/home_styles.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/login_styles.css' %}">
    
</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Aquí estamos renderizando todo el formulario -->
            <button type="submit" class="btn-login">Ingresar</button>
        </form>
        <div class="footer">
            <p>¿Olvidaste tu contraseña? <a href="#">Recupérala aquí</a></p>
        </div>
    </div>
</body>
</html>
